:root{
    --primarycolor: #FFF;
    --subcolor1: #111;
    --fontcolor: #00361F;
}

/*--------CSS for Everything-----------*/
html{
    background-color: var(--primarycolor);
    width: 100%;
    font-family: 'Rounded Mplus 1c'; 
}


hr {
    width: 80%;
    border: 0.8px solid black;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: var(--fontcolor);
}

h2::before,
h2::after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 15%;
}

/*---------------Top Area------------------*/
.header {
    grid-area: header;
    text-align: center;
    height: 100vh;
    font-size: 5.2em;
    background: linear-gradient(to right,
    white 0%,
    white 50%,
    black 50%,
    black 100%);
}

h1 {
    margin: 0 auto;
    color: lightblue;
    padding-top: 250px;
    white-space: nowrap;
}

h1::before{
    content: attr(data-heading);
    position: absolute;
    left: 0;
    color: black;
    width: 50%;
    overflow: hidden;
}

/*Navigation and About Me Section*/
.myphoto {
    grid-area: myphoto;

};

.myinfo {
    grid-area: myinfo;

};

.mynav {
    grid-area: mynav;
}

#groupphoto {
    float: left;
    margin-left: 50px;
    
}

.myinfo h3 .name{
    font-size:22px;
    font-weight: normal;
    color: #443324;
	display: block;
    padding:12px 0 0px 0;
    text-align: center;
}

.myinfo .detail1 {
    font-size:20px;
    font-weight: 300;
	letter-spacing: 1.6px;
	display: block;
	padding:10px 0 15px 0;
    color:#00361F;
    text-align: center;
}

.myinfo .detail2 {
    font-size:16px;
    font-weight: 300;
	letter-spacing: 1.6px;
	display: block;
	padding:7px 0 13px 0;
    color: #00371E;
    text-align: center;
}

.nav{
    position:fixed;
	top:0px;
	width:100%; 
	height:75px; 
	background-color:black;
	color: #FFFFFF;
	z-index:9999;
	display: none;
}

.navli a{
    text-decoration: none;
    color: white;
    display: block;
}

.navli a:hover{
    text-decoration: underline;
}


.navli {
    list-style: none;
    display: inline-block;
    margin: 0 80px;
    font-size: 23px;
    font-family: 'Rounded Mplus 1c';
    color: var(--fontcolor);
    padding: 6px;
    /* border: 2px solid #CCC2B3; */
    /* border-radius: 25%; */
};

.container1{
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:    "header header"
                            "mynav mynav"
                            "aboutme aboutme"
                            "myphoto myinfo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/*---------------Hobby Section---------------*/
.hobbyheader {
    grid-area: hobbyheader;
}

.hobbies{
    text-align: center;
}

.lists{
    margin-left: 50px;
}

li{
    margin-left: 50px;
}

.artistul li::first-letter {
    font-size: 20px;
}

.songs{
    text-decoration: underline;
    color: black;
}

.abouthobbies {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 5px;
    color: var(--fontcolor);
}

.hobbyabout {
    grid-area: hobbyabout;
}

.artist-photos {
    list-style: none;
    margin-top: 10px;
}

.hobbyicons{
    color: #00364D;
    padding:1px;
}

.hobbyphoto {
    grid-area: hobbyphoto;
}

img.hobbyphotos{
    width: 250px;
    height: 270px;
    margin-top: 50px;
    margin-left: 150px;
}

.container2{
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:    "hobbyheader hobbyheader"
                            "hobbyabout hobbyphoto"
                            "hobbyabout hobbyphoto";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.05fr 1fr;
}


/*------------------Food Section-------------------*/
.foodheader {
    grid-area: foodheader;
}

.foodphotos {
    margin: 50px auto;
    margin-left: 70px;
    border-radius: 50%;
}

h5{
    font-size: 40px;
    text-align: center;
    color: var(--fontcolor);
}

.fooddes {
    text-align: center;
    font-size: 20px;
    color: var(--fontcolor);
}

.foodleft {
    grid-area: foodleft;
}


.foodright {
    grid-area: foodright;
}

.food{
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:    "foodheader foodheader"
                            "foodleft foodright";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.05fr 1fr;
}

/*Life Section*/
#lifeheader{
    color: black;
    margin-bottom: -80px;
}

.lifetable{
    border: 0px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    border-collapse: separate;
    margin:100px auto;
    color: black;
}

.thead{
    font-family: 'Rounded Mplus 1c', cursive;
    font-size:28px;
    font-weight:bold;
    color: #00371E;
    @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
    text-align:center;
    padding:20px;
    @include background-image(linear-gradient(#646f7f, #4a5564));
    border-top:1px solid #00371E;
    
    &:first-child {
     @include border-top-left-radius(5px); 
    }
  
    &:last-child {
      @include border-top-right-radius(5px); 
    }
}

td{
    font-family: 'Rounded Mplus 1c', sans-serif;
    font-weight:400;
    color:#00371E;
    font-size:26px;
    padding: 40px;
    border-right: 1px dotted #00371E;
    border-bottom:1px solid #47A0EC;
    text-align: center;
}


/* ------------Family Section---------- */
#family h3 {
    text-align: center;
    font-size: 1.5em;
}

span{
    font-size: 0.5em;
    font-weight: bold;
}

span::before{
    content: open-quote;
}

span::after{
    content: close-quote;
}

.family img{
    width: 500px;
}

.family p{
    font-size: 1.5em;
    padding: 200px;
}

.familyphotos {
    grid-area: familyphotos;
    text-align: center;
}

.familyphotos img{
    width: 800px;
}

.dadphoto {
    grid-area: dadphoto;
}

.daddesc {
    grid-area: daddesc;
}

.momphoto{
    grid-area: momphoto;
}

.momdesc {
    grid-area: momdesc;
}

.shwengwe {
    grid-area: shwengwe;
    text-align: center;
}

.shwengweimg{
    width: 800px;
}

.shwephoto {
    grid-area: shwephoto;
}

.shwedesc {
    grid-area: shwedesc;
}

.ngwephoto {
    grid-area: ngwephoto;
}

.ngwedesc {
    grid-area: ngwedesc;
}

.kooophoto {
    grid-area: kooophoto;
}

.kooodesc {
    grid-area: kooodesc;
}

.siblings {
    grid-area: siblings;
    text-align: center;
}

.siblings img{
    width: 500px;
    height: 500px;
}

.family {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-areas:    "familyphotos familyphotos"
                            "dadphoto daddesc"
                            "momdesc momphoto"
                            "shwengwe shwengwedesc"
                            "shwedesc shwephoto"
                            "ngwephoto ngwedesc"
                            "kooodesc kooophoto"
                            "siblings siblings";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/*-----------------Footer Section------------------*/
.sns{
    text-align: center;
}

.myfacebook{
    color: #4A82F7;
}

.mytwitter{
    color: #47A0EC;
}

.myinstagram{
    color: #B73F8F;
}

#footer{
    text-align: center;
}


/*----------------CSS for ToTop JavaScript----------------*/
.totop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: inline;
    margin: 0;
}
.totop a {
	display:block;
	text-decoration:none;
}
.totop img {
	background:#000;
}
.totop img:hover {
	background:#333;
}
